
<h1 class="text-center " >Popular Articles</h1>
<%= render partial: 'carousel', locals: { articles: @popular_articles[0,3] } %>

<div class="grid">
<% @articles.each do |article| %>
  <%= render partial: 'card', locals: {article: article} %>
<% end %>
<div>